/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

@import url("../salient/style.css");

header#top #logo img.dark-version {
float: left;
margin: 0px 0px 0px 18px!important;
}
#top .col.span_9.col_last {
border-top: 4px solid #000;
border-bottom: 4px solid #000;
}

header#top nav > ul > li > a {
font-family: sanrif;
 font-weight: 600;
}
div#header-secondary-outer {
position: absolute;
}
div#header-outer {
position: absolute;
padding-top: 0px!important;
margin-top: -29px;
}
img.img-with-animation {
width: 100%!important;
}
header#top nav > ul > li > a {
padding-bottom: 9px!important;
padding-top: 10px!important;
/* font-weight: bold;*/
/*letter-spacing: 0px!important;*/
/*font-size: 19px!important;*/
}
div#header-space {
height: 150px!important;
}
.ami1 .img-with-aniamtion-wrap.left {
width: 81px;
float: left;
margin-left: 32px;
}
img.img-with-animation.banarsi {
width: 99px!important;
}
.set_banarsi .nectar-social.hide-share-count.items_4.in-sight {
width: 202px;
margin-left: 186px;
margin-top: 11px;
}
.banarsi2 img.img-with-animation {
width: 119px!important;
}
.ami_set_btn {
width: 127px;
padding: 5px 12px 5px 21px;
border-radius: 14px;
background: #000;
}
#header-outer[data-using-secondary="1"] {
top: 60px;
}